# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Virtual Environments
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env

# Logs
*.log

# Notebook exports
*.nbconvert.ipynb